@import url('font.css');
@import url('main.css');
@import url('colors.css');

*{
    box-sizing: border-box;
}

body {
    background-image: url("https://github.com/devrafcks/Star-Wars-Api/blob/main/assets/images/bg.png?raw=true");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 100vh; 
}
